@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow-y: auto !important;
}

@media (width <= 600px) {
    :root{
        font-size: .8rem;
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}